# {{ ansible_managed }}

{% if wildfly_mode == 'domain' %}
{% if wildfly_directory_grouping_log is defined and wildfly_directory_grouping_log %}
{{ wildfly_directory_grouping_log }}/audit.log
{% else %}
{{ wildfly_console_log_dir }}/*.log
{% endif %}
{% if wildfly_role == 'domain-slave' or wildfly_role == 'domain-master-slave' %}
{{ wildfly_console_log }}
{{ wildfly_base }}/domain/log/*.log
{% endif %}
{% if wildfly_role == 'domain-master' or wildfly_role == 'domain-master-slave' %}
{{ wildfly_console_dc_log }}
{{ wildfly_base }}/domain-controller/log/*.log
{% endif %}
{% endif %}
{
  su {{ wildfly_user }} {{ wildfly_group }}
  daily
  dateyesterday
  rotate 730
  copytruncate
  compress
  missingok
  notifempty
  dateext
  dateformat -%Y%m%d
  minsize {{ wildfly_log_rotate_minsize | default('20K') }}
  compresscmd {{ wildfly_log_compress_command | default('/usr/bin/xz') }}
  compressoptions {{ wildfly_log_compress_options | default('-3 -T4') }}
  compressext {{ wildfly_log_compress_extension | default('.xz') }}
}
