# {{ ansible_managed }}
{% for ssh_key in wildfly_user_ssh_key %}
# {{ ssh_key.name }}
{% if ssh_key.options is defined %}{{ ssh_key.options }} {% endif %}{% if ssh_key.key is defined %}{{ ssh_key.key }}{% endif %}
{% endfor %}
